.btn {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.btn-primary-active {
  background: linear-gradient(178.12deg, #B79BFF -39%, #4E3BD3 98.38%);
  border-radius: 12px;
  padding: 1rem 3rem;
  box-shadow: 3px 4px 2px 0px #ABA1CF40;
  border: 1px solid #8872C6;
}

.btn-primary-active:hover {
  background: linear-gradient(178.12deg, #c4afff -39%, #5e4bdd 98.38%);
  transform: translateY(-2px);
  box-shadow: 4px 5px 3px 0px #ABA1CF60;
}

.btn-primary-inactive {
  background: linear-gradient(180deg, #1C1E32 37.5%, #555B98 145.54%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  padding: 0.9rem 2.8rem;
  box-shadow: 3px 4px 2px 0px #ABA1CF40;
}

.btn-primary-inactive:hover {
  background: linear-gradient(180deg, #2b2e4a 37.5%, #676cba 145.54%);
  transform: translateY(-2px);
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.35);
} 